@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    display: block;
    width: 100vw;

}

a {
    display: block;
    padding: 40px;
    background-color: red;
    color: white;      
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
